doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="css/app.css")
  body
    header.header
      .container
          each entry in items
            .api-entry
              h1.api-entry__title
                if entry.emitter
                  span=entry.emitter
                else if entry.listener
                  span=entry.listener
                else if entry.broadcaster
                  span=entry.broadcaster
                a.api-entry__file(href="#")=entry.filename
              p.api-entry__socket-type
              if entry.listener
                span.api-entry__keyword Listens
                |  for '
                span.api-entry__on-evt-name=entry.topic
                | ' event
              else if entry.emitter
                span.api-entry__keyword Emits '
                span=entry.topic
                | '
              else if entry.broadcaster
                span.api-entry__keyword Broadcasts '
                span=entry.topic
                | '
              if entry.callbackArgs
                p.api-entry__args-list
                  span.api-entry__keyword Callback Args:
                  each arg in entry.callbackArgs
                    span.api-entry__callback-arg=arg
              if entry.description
                p.api-entry__description
                  span.api-entry__keyword--block Description
                  =entry.description
              if entry.snippet
                pre
                  code
                    =entry.snippet
