doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="css/app.css")
  body
    header.header
      .container
          each entry in items
            .api-entry
              h1.api-entry__title
                if entry.emitter
                  span=entry.emitter
                else if entry.listener
                  span=entry.listener
                a.api-entry__file(href="#")=entry.filename
              p.api-entry__socket-type
              if entry.on
                span.api-entry__keyword Listens
                |  for
                span.api-entry__on-evt-name=entry.on
                |  event
              else if entry.emitter
                span.api-entry__keyword Emits
                |  someEvent
              if entry.callbackArgs
                p.api-entry__args-list
                  span.api-entry__keyword Callback Args:
                  each arg in entry.callbackArgs
                    span.api-entry__callback-arg=arg
              if entry.description
                p.api-entry__description
                  span.api-entry__keyword--block Description
                  =entry.description
              if entry.snippet
                pre
                  code
                    =entry.snippet
